body{
  text-align: center;
}

.btn {
  background-color:  	#F5A901;
}

#imgLogo {
  width: 8em;
  margin: 1.5em;
}

#logo {
  color: #F5A901;
  font-size: 2em;
  text-align: center;
  font-family: 'Francois One', sans-serif;

}

#login {
  background-color: #3E3F41;
}